@font-face {
  font-family: LCDFONT;
  src: url(./FONT.TTF);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: bisque;
  font-family: LCDFONT !important;
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#calc
{
  width: 500px;
  height: 760px;
  margin: 10px auto; 
  border: 1px solid whitesmoke;
  border-radius: 5px;

}

.button
{
  width: 123px;
  line-height: 2.8em;
}
.button1
{
  width: 498px;
  line-height: 2.3em;
}
.button1, .button
{
  border: 1px solid red;
  height: 121px;
  float: left;
  margin: 0;
  text-align: center;
  font-size: 3em;
}
#panel
{
  margin: 0 auto;
}

#dw
{
  background-color: darkolivegreen;
  width: calc(100% - 10px);
  height: 10%;
  padding: 5px;
  color: darkgray;
  text-align: right;
  font-size: 3em;
  line-height: 1.8em;
}

#mw
{
  margin: 15px 5px 5px -10px;
  width: calc(100% - 10px);
  height: 5%;
  text-align: right;
  line-height: 1.8em;
}

::selection
{
  background-color: rgba(0, 0, 0, 0);
}